h3 {
    color: #92A8D1
}

.gs-cookies {
    color: #86FAF3;
}

table.table-bordered {
    border: 1px solid blanchedalmond;
}

 table.table-bordered > thead > tr > th {
     border: 1px solid blanchedalmond;
 }


 table.table-bordered > tbody > tr > td {
     border: 1px solid blanchedalmond;
 }
